---
import cup from '../assets/cup.svg';
import { Image } from 'astro:assets';
---
  <nav id="header" class="w-full z-30 top-0 text-white py-1 lg:py-6">
    <div
      class="
        w-full
        container
        mx-auto
        flex flex-wrap
        items-center
        justify-between
        mt-0
        px-2
        py-2
        lg:py-6
      "
    >
      <div class="pl-4 flex items-center">
        <a
          class="
            text-white
            no-underline
            hover:no-underline
            font-bold
            text-2xl
            lg:text-4xl
          "
          href="/"
        >
        <Image alt="logo" src={cup} width={32} height={32} style="display: inline"/>
          Barista - Caffeine tracker
      </a>
      </div>

      

      <div
        id="nav-content"
        class="
          w-full
          flex-grow
          lg:flex lg:items-center lg:w-auto
          hidden
          lg:block
          mt-2
          lg:mt-0
          text-black
          p-4
          lg:p-0
          z-20
        "
      >
        <ul class="list-reset lg:flex justify-end flex-1 items-center">
          <li class="mr-3">
            <a
              class="inline-block py-2 px-4 text-black font-bold no-underline"
              href="/privacy"
              >Privacy</a
            >
          </li>
          <!--
            <li class="mr-3">
              <a
                class="
                  inline-block
                  text-black
                  no-underline
                  hover:text-gray-800 hover:text-underline
                  py-2
                  px-4
                "
                href="#"
                >link</a
              >
            </li>
            <li class="mr-3">
              <a
                class="
                  inline-block
                  text-black
                  no-underline
                  hover:text-gray-800 hover:text-underline
                  py-2
                  px-4
                "
                href="#"
                >link</a
              >
            </li>-->
        </ul>
      </div>
    </div>
  </nav>

